.infoCard {
  background-color: var(--secondary--color);
  color: var(--text-color);
  display: grid;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 0.3em;
  align-items: center;
}
.tankName {
  font-size: 1.5em;
  padding: 0.2em 0;
}
.street {
  font-size: 1em;
}
.range {
  font-size: 1.2em;
}
.place {
  font-size: 1em;
}
