.Primary {
  border: none;
  background-color: var(--first-prize-field-color);
  height: 2em;
  width: 3.5em;
  display: grid;
  align-content: center;
  place-items: center;
  color: var(--text-color);
}

.Secondary {
  border: none;
  background-color: var(--other-prize-field-color);
  height: 2em;
  width: 3.5em;
  display: grid;
  align-content: center;
  place-items: center;
  color: var(--text-color);
}
