.container {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  font-size: 1.5em;
}

.primary__prize {
  border: none;
  background-color: var(--first-prize-field-color);
  display: grid;
  align-content: center;
  place-items: center;
  color: var(--text-color);
  width: 7.8em;
}

.primary__bar {
  width: 1.8em;
  background-color: var(--first-prize-spacebar-color);
}

.secondary__prize {
  border: none;
  background-color: var(--other-prize-field-color);
  display: grid;
  align-content: center;
  place-items: center;
  color: var(--text-color);
  width: 7.8em;
}
.secondary__bar {
  width: 1.8em;
  background-color: var(--other-prize-spacebar-color);
}
