.container {
  display: grid;
  grid-auto-flow: column;
  font-size: 1.5em;
}
.price {
  border: none;
  background-color: var(--first-prize-field-color);
  display: grid;
  align-content: center;
  place-items: center;
  color: var(--text-color);
  padding: 0 2em;
}
.bar {
  width: 0.8em;
}
.primary__price {
  background-color: var(--first-prize-field-color);
}

.primary__bar {
  background-color: var(--first-prize-spacebar-color);
}

.secondary__price {
  background-color: var(--other-prize-field-color);
}
.secondary__bar {
  background-color: var(--other-prize-spacebar-color);
}
